# Lab 2.2.4

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("./assets/datasets/billboard.csv")
dd = pd.read_csv("./assets/datasets/billboard.csv")

In [3]:
#dropping the columns with all rows consisting of nan
df = df.dropna(axis=1,how="all")
df.columns

Index([u'year', u'artist.inverted', u'track', u'time', u'genre',
       u'date.entered', u'date.peaked', u'x1st.week', u'x2nd.week',
       u'x3rd.week', u'x4th.week', u'x5th.week', u'x6th.week', u'x7th.week',
       u'x8th.week', u'x9th.week', u'x10th.week', u'x11th.week', u'x12th.week',
       u'x13th.week', u'x14th.week', u'x15th.week', u'x16th.week',
       u'x17th.week', u'x18th.week', u'x19th.week', u'x20th.week',
       u'x21st.week', u'x22nd.week', u'x23rd.week', u'x24th.week',
       u'x25th.week', u'x26th.week', u'x27th.week', u'x28th.week',
       u'x29th.week', u'x30th.week', u'x31st.week', u'x32nd.week',
       u'x33rd.week', u'x34th.week', u'x35th.week', u'x36th.week',
       u'x37th.week', u'x38th.week', u'x39th.week', u'x40th.week',
       u'x41st.week', u'x42nd.week', u'x43rd.week', u'x44th.week',
       u'x45th.week', u'x46th.week', u'x47th.week', u'x48th.week',
       u'x49th.week', u'x50th.week', u'x51st.week', u'x52nd.week',
       u'x53rd.week', u'x54th.week', u'x55th.week', u'x56th.week',
       u'x57th.week', u'x58th.week', u'x59th.week', u'x60th.week',
       u'x61st.week', u'x62nd.week', u'x63rd.week', u'x64th.week',
       u'x65th.week'],
      dtype='object')

In [4]:
#some stats including mean, min/max, standard deviation, and quartiles
df.describe()

,year,x1st.week,x2nd.week,x3rd.week,x4th.week,x5th.week,x6th.week,x7th.week,x8th.week,x9th.week,...,x56th.week,x57th.week,x58th.week,x59th.week,x60th.week,x61st.week,x62nd.week,x63rd.week,x64th.week,x65th.week
count,317.0,317.000000,312.000000,307.000000,300.000000,292.000000,280.000000,269.000000,260.000000,253.000000,...,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.0,1.0
mean,2000.0,79.958991,71.173077,65.045603,59.763333,56.339041,52.360714,49.219331,47.119231,46.343874,...,25.500000,27.50000,31.500000,35.500000,38.000000,42.500000,44.500000,47.500000,50.0,49.0
std,0.0,14.686865,18.200443,20.752302,22.324619,23.780022,24.473273,25.654279,26.370782,27.136419,...,0.707107,2.12132,0.707107,4.949747,1.414214,0.707107,3.535534,3.535534,0.0,NaN
min,2000.0,15.000000,8.000000,6.000000,5.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,25.000000,26.00000,31.000000,32.000000,37.000000,42.000000,42.000000,45.000000,50.0,49.0
25%,2000.0,74.000000,63.000000,53.000000,44.750000,38.750000,33.750000,30.000000,27.000000,26.000000,...,25.250000,26.75000,31.250000,33.750000,37.500000,42.250000,43.250000,46.250000,50.0,49.0
50%,2000.0,81.000000,73.000000,66.000000,61.000000,57.000000,51.500000,47.000000,45.500000,42.000000,...,25.500000,27.50000,31.500000,35.500000,38.000000,42.500000,44.500000,47.500000,50.0,49.0
75%,2000.0,91.000000,84.000000,79.000000,76.000000,73.250000,72.250000,67.000000,67.000000,67.000000,...,25.750000,28.25000,31.750000,37.250000,38.500000,42.750000,45.750000,48.750000,50.0,49.0
max,2000.0,100.000000,100.000000,100.000000,100.000000,100.000000,99.000000,100.000000,99.000000,100.000000,...,26.000000,29.00000,32.000000,39.000000,39.000000,43.000000,47.000000,50.000000,50.0,49.0

In [5]:
#variance for each column
np.var(df)

year             0.000000
x1st.week      215.023555
x2nd.week      330.194403
x3rd.week      429.255249
x4th.week      496.727322
x5th.week      563.552859
x6th.week      596.802028
x7th.week      655.695388
x8th.week      692.743476
x9th.week      733.474636
x10th.week     789.307041
x11th.week     840.935794
x12th.week     831.050808
x13th.week     865.009161
x14th.week     927.507978
x15th.week     989.878018
x16th.week    1011.985509
x17th.week    1088.974688
x18th.week    1095.217158
x19th.week    1083.497863
x20th.week    1074.373851
x21st.week     403.042840
x22nd.week     438.267769
x23rd.week     325.610677
x24th.week     336.865784
x25th.week     341.851108
x26th.week     356.500000
x27th.week     376.087990
x28th.week     252.416667
x29th.week     220.627500
                 ...
x36th.week     171.580247
x37th.week     221.876543
x38th.week     140.984375
x39th.week     292.687500
x40th.week     174.408163
x41st.week     200.816327
x42nd.week      43.805556
x43rd.week      89.555556
x44th.week     189.555556
x45th.week     109.360000
x46th.week     160.960000
x47th.week     218.960000
x48th.week     160.500000
x49th.week     193.500000
x50th.week     257.500000
x51st.week     270.687500
x52nd.week     222.187500
x53rd.week     219.187500
x54th.week       6.250000
x55th.week       0.250000
x56th.week       0.250000
x57th.week       2.250000
x58th.week       0.250000
x59th.week      12.250000
x60th.week       1.000000
x61st.week       0.250000
x62nd.week       6.250000
x63rd.week       6.250000
x64th.week       0.000000
x65th.week       0.000000
dtype: float64

In [14]:
#checking types
#df.dtypes

In [12]:
#converting columsn to appropriate types
df['date.entered'] = pd.to_datetime(df['date.entered'])
df['date.peaked'] = pd.to_datetime(df['date.peaked'])

In [13]:
df.dtypes

year                        int64
artist.inverted            object
track                      object
time                       object
genre                      object
date.entered       datetime64[ns]
date.peaked        datetime64[ns]
x1st.week                   int64
x2nd.week                 float64
x3rd.week                 float64
x4th.week                 float64
x5th.week                 float64
x6th.week                 float64
x7th.week                 float64
x8th.week                 float64
x9th.week                 float64
x10th.week                float64
x11th.week                float64
x12th.week                float64
x13th.week                float64
x14th.week                float64
x15th.week                float64
x16th.week                float64
x17th.week                float64
x18th.week                float64
x19th.week                float64
x20th.week                float64
x21st.week                float64
x22nd.week                float64
x23rd.week                float64
                        ...
x36th.week                float64
x37th.week                float64
x38th.week                float64
x39th.week                float64
x40th.week                float64
x41st.week                float64
x42nd.week                float64
x43rd.week                float64
x44th.week                float64
x45th.week                float64
x46th.week                float64
x47th.week                float64
x48th.week                float64
x49th.week                float64
x50th.week                float64
x51st.week                float64
x52nd.week                float64
x53rd.week                float64
x54th.week                float64
x55th.week                float64
x56th.week                float64
x57th.week                float64
x58th.week                float64
x59th.week                float64
x60th.week                float64
x61st.week                float64
x62nd.week                float64
x63rd.week                float64
x64th.week                float64
x65th.week                float64
dtype: object

pivot tables could help me visualize the data better and look into relationships between certain columns and rows